* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px; 
}

html{

}

body {
   background-color: lightcoral;
   display: flex;
   justify-content: center;
   align-items:center;
   width:100%;
   height: 100vh;
}

#root {
   width:100%;
}

.App {
   margin: auto;
   width:100%;
}

.title {
   font-size:60px;
   margin: 0px auto 50px;
   text-align: center;
   width:100%;
}

.container {
   background-color: lightblue;
   border-radius: 5px;
   margin: auto;
   height: auto;
   width: 600px;
}

.top {
   background-color: lightseagreen;
   height:150px;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.top-text {
   font-size:36px;
}

.bottom {
   background-color: lightgoldenrodyellow;
   display: flex;
   justify-content: space-around;
   align-items:center;
   align-content: space-around;
   flex-flow: row wrap;
   height: 250px;
}

.choice {
   background-color: red;
   border-radius: 5px;
   font-size:20px;
   text-align:center;
   padding: 10px 20px;
   width:40%;
}

.progress {
   background-color: lightslategray;
   padding: 5px;
   font-size:24px;
   text-align: center;
}

/* MOBILE STYLES */
@media only screen and (max-width: 767px){
   body{
      background-color: seagreen;
   }

   .container{
      width: 90%;
      height: auto;
   }

   .title {
      font-size:48px;
      margin: 0px auto 50px;
      text-align: center;
      width:100%;
   }

   .top-text{
      font-size: 25px;
   }

   .bottom {
      background-color: lightgoldenrodyellow;
      display: flex;
      justify-content: space-around;
      align-items:center;
      align-content: space-around;
      flex-flow: column nowrap;
      height: 400px;
   }

   .choice {
      width: 90%;
   }

   .progress {
      height: 40px;
      padding: 10px 0;
   }

}
